### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:

#total number of players
len(purchase_data["SN"].value_counts())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

In [14]:

#Number of Unique Items
nunique = purchase_data["Item Name"].nunique()
#Average Purchase Price
average = purchase_data["Price"].mean()
#Total Number of Purchases
purchases = purchase_data["Purchase ID"].count()
#Total Revenue
total = purchase_data["Price"].sum()

In [15]:
#Summary Data Frame
summary_table = {"Number of Unique Items" : [nunique],
               "Average Price" : [average],
               "Total Number of Purchases" : [purchases],
               "Total Revenue" : [total]
          }
summary_df = pd.DataFrame(summary_table)

#summary_df["Average Price"] = summary_df["Average Price"].map("${0:.2f}".format)
#summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${0:.2f}".format)

summary_df.head()

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
# Count of Total players
player_count = len(purchase_data["SN"].value_counts())

#Which of players are females
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
#Count of Females
count_of_female_players = len(female_players["SN"].value_counts())
#Percent of Females
percent_female = (count_of_female_players / player_count) * 100

#Which of players are male
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
#Count of males
count_of_male_players = len(male_players["SN"].value_counts())
#Percent of Males
percent_male = (count_of_male_players / player_count) * 100

#Which of players are other
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
#Count of other
count_of_other_players = len(other_players["SN"].value_counts())
#Percent of other
percent_other = (count_of_other_players / player_count) * 100

# Summary Data Frame
summary_gender_percent_df = pd.DataFrame([{
    "Gender": "Female", "Total Count": count_of_male_players, 
    "Percentage of Players": percent_female}, 
    {"Gender": "Male", "Total Count": count_of_female_players, 
     "Percentage of Players": percent_male}, 
    {"Gender": "Other / Non-Disclosed", "Total Count": count_of_other_players, 
     "Percentage of Players": percent_other
    }], 
columns=["Gender", "Total Count", "Percentage of Players"])
summary_gender_percent_df["Percentage of Players"] = summary_gender_percent_df["Percentage of Players"].map("{0:.2f}%".format)

summary_gender_percent_df

                  Gender  Total Count Percentage of Players
0                 Female          484                14.06%
1                   Male           81                84.03%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Purchase Count of Females = Count of Females
female_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_purchase_count = len(female_purchase_data)

# Average Purchase Price of Female Players
average_female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()

# Total Purchase Value of Female Players
total_female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()

# Purchase Count of Males = Count of males
male_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_purchase_count = len(male_purchase_data)

# Average Purchase Price of Male Players
average_male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()

# Total $Purchases of Male Players 
total_male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()

# Purchase Count of Other / Non-Disclosed Players
other_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_purchase_count = len(other_purchase_data)

# Average Purchase Price of Other / Non-Disclosed Players
average_other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()

# Total Purchase Value of Other / Non-Disclosed Players
total_other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

# Average Total Purchase per Person etc. By Gender
average_female_purchases_total = total_female_purchases / count_of_female_players
average_male_purchases_total = total_male_purchases / count_of_male_players
average_other_purchases_total = total_other_purchases / count_of_other_players

# Summary Data Frame
purchasing_analysis_df = pd.DataFrame([{
    "Gender": "Female", "Purchase Count": female_purchase_count, 
    "Average Purchase Price":average_female_purchases, 
    "Total Purchase Value":total_female_purchases, 
    "Avg Total Purchase per Person":average_female_purchases_total}, 
    {"Gender": "Male", "Purchase Count": male_purchase_count, 
     "Average Purchase Price": average_male_purchases, 
     "Total Purchase Value": total_male_purchases, 
     "Avg Total Purchase per Person": average_male_purchases_total}, 
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchase_count, 
     "Average Purchase Price": average_other_purchases, 
     "Total Purchase Value": total_other_purchases, 
     "Avg Total Purchase per Person":average_other_purchases_total
    }], 
    columns=["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

purchasing_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,Price 3.203009 dtype: float64,Price 361.94 dtype: float64,Price 4.468395 dtype: float64
1,Male,652,Price 3.017853 dtype: float64,Price 1967.64 dtype: float64,Price 4.065372 dtype: float64
2,Other / Non-Disclosed,15,Price 3.346 dtype: float64,Price 50.19 dtype: float64,Price 4.562727 dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# Establish Bins for Ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
bin_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut and make new column
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=bins, labels=bin_ranges)
purchase_data

# Create a GroupBy Object Based Upon "Age Group"
age_group = purchase_data.groupby("Age Group")

# Count Total Players by Age Category
total_count_age = age_group["SN"].nunique()

# Calculate Percentages by Age Category 
percentage_by_age = round(total_count_age / player_count * 100,2)

#Summary DataFrame
age_demographics_df = pd.DataFrame({
    "Total Count": total_count_age, 
    "Percentage of Players": percentage_by_age
})

age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{0:.2f}%".format)

age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Establish Bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
bin_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# New Column
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=bins, labels=bin_ranges)

# Calculate Purchase Count
age_purchases_count = age_group["SN"].count()

# Calculate Average Purchase
average_age_purchases = round(age_group["Price"].mean(),2)

# Calculate Total Purchases Value
total_average_purchases_value = round(age_group["Price"].sum(),2)

# Calculate "Avg Total Purchase per Person"
average_total_age_purchases = round(total_average_purchases_value / total_count_age,2)

# Create Summary DataFrame
purchasing_analysis_age_df = pd.DataFrame({
    "Purchase Count": age_purchases_count, 
    "Average Purchase Price": average_age_purchases,
    "Total Purchase Value": total_average_purchases_value,
    "Avg Total Purchases per Person": average_total_age_purchases
})
purchasing_analysis_age_df["Average Purchase Price"] = purchasing_analysis_age_df["Average Purchase Price"].map("${0:.2f}".format)
purchasing_analysis_age_df["Total Purchase Value"] = purchasing_analysis_age_df["Total Purchase Value"].map("${0:.2f}".format)
purchasing_analysis_age_df["Avg Total Purchases per Person"] = purchasing_analysis_age_df["Avg Total Purchases per Person"].map("${0:.2f}".format)

purchasing_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchases per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
# Identify the Top Spenders
top_spenders = purchase_data.groupby("SN")

In [24]:
# Calculate Purchase Count
spender_purchase_count = top_spenders["Purchase ID"].count()

# Calculate Average Purchase Price
average_spender_purchase_price = round(top_spenders["Price"].mean(),2)

# Calculate "Total Purchase Value"
total_spender_purchase_value = top_spenders["Price"].sum()

# Create Summary DataFrame
top_spenders_df = pd.DataFrame({ 
    "Purchase Count": spender_purchase_count,
    "Average Purchase Price": average_spender_purchase_price,
    "Total Purchase Value": total_spender_purchase_value
})
sorted_purchase_value = top_spenders_df.sort_values(by=['Total Purchase Value'], inplace=True, ascending=False)
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Identify the Most Popular Items
list_popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

# GroupBy "Item ID" & Item Name
popular_items = list_popular_items.groupby(["Item ID","Item Name"])

# Calculate Purchase Count
item_purchases_count = popular_items["Price"].count()

# Calculate Item Price
item_price = popular_items["Price"].sum()

# Calculate Total Purchase Value 
item_purchase_value = item_price / item_purchases_count

# Create Summary DataFrame
most_popular_items_df = pd.DataFrame({
    "Purchase Count": item_purchases_count, 
    "Item Price": item_purchase_value,
    "Total Purchase Value": item_price
})

sorted_most_popular_items = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${0:.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${0:.2f}".format)

sorted_most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:

popular_items_descending = most_popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items_descending

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36